<style>
      #spanId{
        font-size:18px;
        margin:50px;
      }
      #thirdDiv{
        height: 600px;
        width: 500px;
        background: bisque;
        padding: 50px;
        border: dashed red;
      }
</style>